<h4>Listing Ports</h4>

<%= link_to "Test Port", test_gpio_path(1), class: "btn btn_primary" %>

<table class="table table-condensed">
  <thead>
    <tr>
      <th class="col-md-2">Pin</th>
      <th class="col-md-2">Gpio</th>
      <th class="col-md-2">Port number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ports.each do |port| %>
      <tr>
        <td><%= port.pin_id %></td>
        <td><%= port.gpio %></td>
        <td><%= port.port_number %></td>
        <td><%= link_to 'Show', port %></td>
        <td><%= link_to 'Edit', edit_port_path(port) %></td>
        <td><%= link_to 'Destroy', port, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Port', new_port_path %>

<br>

<p>GPIO = <%= @new_pin.gpio %></p>
