<h3>Stations</h3>

<%= form_for @station, {class: "form-inline"} do |f| %>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="col-md-1">Number</th>
        <th class="col-md-1">Status</th>
        <th class="col-md-5">Location</th>
        <th class="col-md-1">Default Sequence</th>
        <th class="col-md-1">Default Duration</th>
        <th class="col-md-2"></th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: "table_fields", locals: { f: f } %>
      <% @stations.each do |station| %>
        <tr>
          <td><%= station.number %></td>
          <td><%= $current_station == station.id ? "On" : "Off" %></td>
          <td><%= link_to station.location, edit_station_path(station) %></td>
          <td><%= station.sequence %></td>
          <td><%= station.duration %></td>
          <td>
            <%= link_to station, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash"></i>
            <% end %>          
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>