<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rule.name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @rule.group %>
</p>

<p>
  <strong>Exclusive:</strong>
  <%= @rule.exclusive %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
